.playButton {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 140px;
	height: 70px;
	border-radius: 10px;
	color: #1eaed3;
	background-color: white;
}

.playButton:hover {
	color: white;
	background-color: #1eaed3;
}