.playButton {
	background-image: url(btn_start.png);
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	width: 140px;
	height: 40px;
	background-color: white;
	z-index: 10;
}

.playButton:hover {
	color: #1eaed3;
	background-color: #ffffff;
}