
.playButton {
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
	width: 140px;
	height: 70px;
	border-radius: 10px;
	color: #1eaed3;
	background-color: white;
	z-index: 10;
}

.playButton:hover {
    color: white;
    background-color: #1eaed3;
}
